@model Event
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";

    List<EventSpeaker> eventSpeakers = (List<EventSpeaker>)ViewBag.EventSpeakers;
    List<Category> categories = (List<Category>)ViewBag.Categories;
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Name">Name</label>
                <input asp-for="@Model.Name" class="form-control" id="Name" placeholder="Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="@Model.EventSpeakers">Speaker</label>
                <select class="form-control" asp-for="@Model.EventSpeakers" asp-items="@(new SelectList(eventSpeakers,"Id","Name"))">
                </select>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="@Model.CategoryId">Category</label>
                <select class="form-control" asp-for="@Model.CategoryId" asp-items="@(new SelectList(categories,"Id","Name"))">
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="@Model.Date">Date</label>
                <input asp-for="@Model.Date" class="form-control" id="Date" placeholder="Date">
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.Time">Time</label>
                <input asp-for="@Model.Time" class="form-control" id="Time" placeholder="Time">
                <span asp-validation-for="@Model.Time" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.Venue">Venue</label>
                <input asp-for="@Model.Venue" class="form-control" id="Venue" placeholder="Venue">
                <span asp-validation-for="@Model.Venue" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.Desc">Certification Desc</label>
                <input asp-for="@Model.Desc" class="form-control" id="Desc" placeholder="Desc">
                <span asp-validation-for="@Model.Desc" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>